<h1>Welcome to Half Stack!</h1>

<p>Your number one place for half answers.</p>



<h2>Here are the questions needing answers:</h2>
  <% if @posts.any? %>
  <% @posts.each do |post| %>
  <%= link_to post.content, user_posts_path(current_user.id, post.id) %>
  <% end %>
  <% else %>
  <%= link_to "Create new Post", new_user_post_path(current_user.id) %>
  <% end %>
